*{
    margin:0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

label[for="bt_menu"]{
    display: none;
}

#bt_menu{
    display: none;
}

nav {
    height: 8vh;
    width: 100%;

    background-image: linear-gradient(45deg, lightgreen, lightblue);

    box-shadow: 0rem 0rem 2rem 0rem;
}

nav .logo{
    line-height: 8vh;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    margin: 0px 0px 0px 50px;
}

nav ul{
    line-height: 8vh;
    float: right;

    margin: 0px 50px 0px 0px;

}

nav ul li{
    padding: 0px 10px;
    list-style: none;
    float: left;

}

nav ul li a{
    text-decoration: none;

    font-weight: bold;
    color: #fff;
}

.content{
    margin: 0px 50px;
}

.content #home, .grid, #sobrenos, #contato{
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin: 20px 0px 0px 0px;
}

.content #home .texto, #sobrenos .texto{
    width: 50%;
}

.grid{
    text-align: center;
}

.grid .foto img{
    width: 100px;
    height: 150px;
}

#contato{
    padding: 50px;
    background-image: linear-gradient(45deg, lightgreen, lightblue);

}

#contato a{
    color: black;
    text-decoration: none;
}

#contato .enderecos, #contato .redessociais, #contato .nos{
    width: 30%;
}

#contato .local:hover, #contato .whats:hover, #contato .email:hover {
    color: #fff;
}

#contato .instagram a:hover, #contato .twitter a:hover, #contato .github a:hover {
    color: #fff;
}

.footer{
    height: 8vh;
    width: 100%;

    line-height: 8vh;

    background-color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}