*{
    margin:0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;

    transition: all ease-in-out .4s;
}

label[for="bt_menu"]{
    display: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    
    font-family: 'Poppins', sans-serif;
    font-size: 40px;

    border-radius: 50%;

    padding: 10px;

}

#bt_menu{
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 10vh;
    width: 100%;

    background-image: linear-gradient(45deg, #ec78b3, #a385e9);

    box-shadow: 0rem 0rem 2rem 0rem;

    transition: all ease-in-out .4s;
}

nav .logo{
    
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    margin: 0px 0px 0px 50px;
}

nav ul{
    float: right;

    margin: 0px 50px 0px 0px;

}

nav ul li{
    padding: 0px 10px;
    list-style: none;
    float: left;

}

nav ul hr{
    display: none;

    border: 1px solid #fff;
    background-color: #fff;
}

nav ul li a{
    text-decoration: none;

    font-weight: bold;
    color: #fff;

    transition: all .4s;
}

nav ul li a:hover{
    color: grey;

    transition: all .4s;
}

.content{
    margin: 0px 50px;
}

.content #home{
    margin: 50px 0px;
}

.content .servicos, .sobrenos{
    margin: 0px 0px 50px 0px;
}

.content #home, .grid, .sobrenos, #contato{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.content #home .texto, .sobrenos .texto{
    width: 50%;
}

.grid{
    text-align: center;
}

.grid .foto img{
    width: 100px;
    height: 150px;
}

.space-grid{
    margin: 10px;
}

.service{
    background-color: #eaeaea;

    width: 300px;
    height: auto;

    margin: 20px 10px;
    padding-bottom: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.service .titulo{
    background-color: #a385e9;
    color: #fff;
    padding: 10px 0px;
    width: 300px;
}

.service hr{
    border: solid 1px #000;
    background-color: #000;
    width: 80%;
    margin: 10px 0px;
}

.service button{

    background-color: #a385e9;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;

    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    /*font-weight: bold;*/
    color: #fff;

    cursor: pointer;
    outline: 0;

    transition: all .4s;
}

.service button:enabled:hover{
    padding: 10px 30px;

    background-color: #fff;
    color: #a385e9;

    transition: all .4s;
}

.service button:disabled{
    cursor: not-allowed;

    background-color: #838383;
}

.op{
    font-family: 'Shippori Mincho', serif;
    font-weight: bold;
}

.slide-carousel{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    padding: 20px;

    height: 150px;

    background-color: rgba(97, 97, 97, 0.5);
}

.slide-carousel .out{
    display: none;
    position: absolute;

    text-align: center;
    text-transform: capitalize;

    font-size: 20px;
}

.equipe{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.equipe .integrante img{
    width: 200px;
    height: 300px;
}

.equipe .integrante .section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.equipe .integrante .section hr{
    width: 70%;
    background-color: #000;
    border: 1px solid;
}

#contato{
    display: flex;
    justify-content: space-around;

    padding: 20px;
    background-image: linear-gradient(45deg, #ec78b3, #a385e9);
}

#contato a{
    color: black;
    text-decoration: none;
}

#contato .local:hover, #contato .whats:hover, #contato .email:hover {
    color: #fff;
}

#contato .instagram a:hover, #contato .twitter a:hover, #contato .github a:hover {
    color: #fff;
}

#contato .local, #contato .whats, #contato .email, #contato .instagram, #contato .twitter, #contato .github{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#contato .nos{
    color: #fff;
    width: 50%;
}

#contato .enderecos .foto img, #contato .redessociais .foto img{
    width: 40px;
    height: 40px;

    margin: 5px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 8vh;
    width: 100%;

    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

@media(max-width: 850px){

    nav{
        margin-left: -100%;
        height: 0vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        text-align: center;
        float: none;
        margin: 10px;
        padding: 10px;

    }

    nav ul li{
        margin: 5px 0px;
    }

    nav ul hr{
        display: block;
    }

    nav .logo{
        margin: 0;
    }

    label[for="bt_menu"]{
        display: block;
        position: fixed;
        top: 0;
    }

    label[for="bt_menu"]:hover{
        box-shadow: 0rem 0rem 2rem 0rem;
    }

    #bt_menu:checked ~ nav{
        margin-left: 0;
        height: 55vh;

        transition: all ease-in-out .4s;
    }

    #contato{
        flex-direction: column;
    }

}